<div class="col s4 m4">
  <div class="card #e3f2fd blue darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= student.name %></span>
      <p><%= student.email %></p>
    </div>
    <div class="card-action">
      <%= link_to 'Info', student_path(student) %>
    </div>
  </div>
</div>
