<div class="center-align">
  <% if obj.errors.any? %>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel #ff8a80 red accent-1 ">
          <div class="card-content white-text">
            <h5><%= pluralize(obj.errors.count, 'error') %>
            prohibited your <%= obj.class %> to being created:</h5>
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
