<div class="row">
  <div class="col s12">
    <h2 class="center-align">Course Listing</h2>
  </div>
</div>

<div class="row #90caf9">
  <div class="col s6 m6">
    <div class="card #e3f2fd blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS111: Intro to Computer Science</span>
        <p>A thorough intro to Computer Science</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="card #e3f2fd blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS112: Intro to Computer Science 2</span>
        <p>An intermediate look at Computer Science</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
</div>
